[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = nvim
[user]
	name = Dmitri Ollari
	email = dmitri.ollariischimji@zucchetti.it
	signingkey = BEDD33DF91CE7B6EEFB6F99FB389C6F530257302
[gpg]
	program = /usr/bin/gpg
[color]
	ui = auto
[commit]
	gpgsign = true

[alias]
	adg = log --all --decorate --graph
	adog = log --all --decorate --graph --oneline
[color "decorate"]
    HEAD   = blink bold italic 196
    branch = 214
    tag    = bold 222
