[user]
	name = kanopo
	email = dmitri.ollari@protonmail.com
  signingkey = E69EAAE7618D3554ADB2D035F5C5C51E55B04184
[color]
  ui = auto
[commit]
	gpgsign = false
[gpg]
	program = gpg2
[pull]
  rebase = true
[push]
	autoSetupRemote = true
