[user]
	name = kanopo
	email = dmitri.ollari@protonmail.com
    signingkey = CD7DE3797D1559A5D8E46B4A759ADD40E3132AC7
[color]
  ui = auto
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
  rebase = true
[push]
	autoSetupRemote = true
